.con-things{
    display: flex;
    align-items: center;
}

.con-things .email ,.phone{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.con-things .email{
    padding-right: 8vw;
    border-right: 1px solid;
}
.con-things .phone{
    padding-left: 6vw;
}

.address{
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.message{
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.yellow{
    color: #ffc527;
}

