.forming label{
    font-size: 20px;
    display: block;
    padding-top: 20px;
    margin-left: 20px;
}
.forming .input{
    margin: 0 20px;
    width: 20vw;
    height: 50px;
    /* border-radius: 15px; */
    border: none;
    border-bottom: 1px solid #00000049;
    font-size: large;
}

.forming #imgs{
    padding: 20px;
    font-size: 20px;
}

.forming .input:hover{
    border-bottom: 1px solid #ffc527;
}

.forming select{
    border: 1px solid #ffc527;
    padding: 15px;
    color:#ffc527;
    font-weight: 555;
    margin: 10px 19px;
}

select option{
    background: #ffc527;
    font-weight: 500;
    color: #fff;
}